.main{
    width: 1000px;
    height: 600px;
    /*background-color: skyblue;*/
    /*position: absolute;*/
    left: 0;
    top: 0;
    /*transform: translate(-50%, -50%);*/
}

*{		/* CSS Reset */
    margin : 0;
    padding : 0;
}

.right{
    padding: 25px;
    width: 280px;
    height: 280px;
    background-color: rgba(33,110,236,1);
    position:absolute;
    right: 30px;
    top: 2%;
    border-radius: 20px;
    /*border: 2px dotted rgba(84,188,189,100);*/
}

.right2{
    width:280px;
    height: 280px;
    background-color: rgba(0,10,123,0.8);
    position:absolute;
    right: 30px;
    top: 55%;
    border: 2px dotted rgba(84,188,189,100);
}

@font-face {
    font-family: 'taiekaishu';
    src: url(../font/taiekaishu.ttf);
}

@font-face {
    font-family: 'jixiangsongti';
    src: url(../font/jixiangsongti.ttf);
}